/* Podstawowy reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  padding: 20px;
  max-width: 70%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  margin-top: 1rem;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background: #eee;
  cursor: pointer;
}

.btn:hover {
  background: #ddd;
}
.btn:active {
  transform: translateY(2px);
}
.loader {
  display: none;
  font-weight: bold;
  margin-top: 1.5rem;
}

.error-box {
  color: red;
  margin-top: 2rem;
}

.list-item {
  background: #f2f2f2;
  border-radius: 0.5rem;
  padding: 0.2rem;
  margin: 0.5rem;
}
