/* Minimalny reset  */
html {
  font-size: 16px; /* bazowy rozmiar czcionki */
  font-family: system-ui, sans-serif; /* font systemowy */
  line-height: 1.5; /* lepsza czytelność */
  margin: 0;
}
body {
  margin: 1rem;
  padding: 2rem;
  background: linear-gradient(
    90deg,
    rgba(240, 155, 255, 0.2) 0%,
    rgb(199, 167, 255, 0.2) 25%,
    rgb(182, 205, 255, 0.2) 50%,
    rgba(154, 255, 169, 0.2) 75%,
    rgba(253, 255, 132, 0.2) 100%
  );
  overflow-y: hidden;
}
h2 {
  text-align: center;
  color: #ffffff;
  padding: 1rem;
  border-radius: 5px;
}
.column:first-child h2 {
  background-color: rgba(0, 0, 255, 0.9);
}
.column:nth-child(2) h2 {
  background-color: rgba(255, 0, 0, 0.9);
}
.column:nth-child(3) h2 {
  background-color: rgba(0, 175, 0, 0.9);
}

#mainBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 równe kolumny */
  gap: 1rem;
  border: 1px solid #00000070;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: #ffffff70;
}
.column {
  border: 6px double #00000090;
  padding: 0.5rem;
  height: 80vh;
  border-radius: 1rem;
  overflow-y: auto;
  background-color: #ffffff40;
  scrollbar-width: thin;
}

.column:first-child {
  background-color: rgba(0, 0, 255, 0.05);
  scrollbar-color: rgba(0, 0, 255, 0.5) rgba(0, 0, 255, 0.1);
}
.column:nth-child(2) {
  background-color: rgba(255, 0, 0, 0.05);
  scrollbar-color: rgba(255, 0, 0, 0.5) rgba(255, 0, 0, 0.1);
}
.column:nth-child(3) {
  background-color: rgba(0, 175, 0, 0.05);
  scrollbar-color: rgba(0, 175, 0, 0.5) rgba(0, 175, 0, 0.1);
}
.column button {
  margin: 2px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: bold;
  border: 1px dashed #00000090;
  background-color: #ffffff90;
}
.column button:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.column button:active {
  transform: translateY(2px);
  border: 1px solid #000000;
}
.column span {
  margin-left: 5px;
  font-size: 0.9rem;
  padding: 0.2rem 0.3rem;
  border-radius: 8px;
  border: 1px solid #00000090;
  white-space: nowrap;
}

.card {
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  margin-top: 1rem;
  width: 70%;
  max-width: 100%;
}
.card button {
  padding: 0.25rem 0.5rem;
  border: 1px solid #999;
  border-radius: 3px;
  background: white;
}

.card button:hover {
  background: #f0f0f0;
}

.card [contenteditable] {
  min-height: 1.5rem;
  padding: 0.25rem;
  border: 1px dashed transparent;
}

.card [contenteditable]:focus {
  border-color: #666;
  background: rgba(255, 255, 255, 0.5);
}
